.footer-section
    .left-block
        .email
            .email-top
                i(class="fa fa-envelope-o letter" aria-hidden="true")
                div.letter-text.
                    San Isidro, Lopez Jaena St.<br>
                    Jaro Iloilo City, Philippines 5000<br>
                    Tell: 0927-338-2289<br>
                    Email: jennpereira13(at)gmail.com
            .email-bottom
                i(class="fa fa-envelope-o letter-bottom" aria-hidden="true")
                div.letter-text.
                    San Isidro, Lopez Jaena St.<br>
                    Jaro Iloilo City, Philippines 5000<br>
                    Tell: 0927-338-2289<br>
                    Email: jennpereira13(at)gmail.com
        .payment
            h2 secured payment trough:
            div.credit-cart
                img(src="files/img/cart.png" alt="credit-cart" title="credit-cart")
        .description
            h3 disclaimer
            p.
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br>
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in<br>
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat<br>
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

            p.
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br>
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in<br>
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat<br>
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    .right-block
        h2 contact us
        form#form2
            input(type="hidden" name="project-name" value="Produce")
            input(type="hidden" name="admin-email" value="dimon24panasenko@gmail.com")
            input(type="hidden" name="form_subject" value="Buy medication")

            input(type="text" name="Name" placeholder="Your Name*")
            input(type="text" name="E-mail" placeholder="Your Email*")
            input(type="text" name="Subject" placeholder="Subject*")
            textarea(rows="11" cols="51" name="text" placeholder="Message*")
            input(type="submit" value="send message")
     footer
        p.
            <span>produce</span><br>
            Copyright© 2009-2014 JLP MEDIA.
        .social
            a(href="https://uk-ua.facebook.com/"): i(class="fa fa-facebook" aria-hidden="true")
            a(href="https://ru.pinterest.com/"): i(class="fa fa-pinterest-p" aria-hidden="true")
            a(href="https://ru.linkedin.com/"): i(class="fa fa-linkedin" aria-hidden="true")
            a(href="https://ok.ru/"): i(class="fa fa-odnoklassniki" aria-hidden="true")
            a(href="https://twitter.com/"): i(class="fa fa-twitter" aria-hidden="true")






