.section-4
    .top-title
        p.
            what are<br>
            the benefits
        p.
            Obesity is an imbalance between fat intake and energy expenditure.<br>
            Now day obesity is a problem of health and mind in many people.
    .main-content
        h2.
            Reduce food intake and promote <span>weight loss fast!</span>
        p.
            Effective thermogenic supplements are those that contain key ingredients that create a fat burning 'thermogenic'<br>
            environment by working together and in synergy. Some of these ingredients also aid<br>
            in reducing appetite and spiking an increase in short-term energy. Dosage of Garcinia cambogia, beginning<br>
            from 750 mg to 1,500 mg, takes 2-3 times in individual dose before meals.<br>
    .slider-block
        mixin createSlider(number)
            div.slider
                div.number= number
                p.slider-text.
                    The active ingredient in Garcinia<br>
                    Cambogia is Hydroxyciric acid (HCA).<br>
                    It works as inhibit fat and cholesterol<br>
                    accumulation by slowing down
                    the enzyme.
        +createSlider("1")
        +createSlider("2")
        +createSlider("3")
    .bottom-block
        p image your body so healthy!
        button try this product
