-var topMenuItems=[];
-topMenuItems.push({itm:"Home", link:"#"});
-topMenuItems.push({itm:"About the Product", link:"#"});
-topMenuItems.push({itm:"Benefits", link:"#"});
-topMenuItems.push({itm:"Testimonials", link:"#"});
-topMenuItems.push({itm:"Buy", link:"#"});
-topMenuItems.push({itm:"Contact", link:"#"});
-topMenuItems.push({itm:"Blog", link:"#"});
header
    h1 produce
    nav
        each item, index in topMenuItems
            li(class="top_menu_itm")
                a(href=item.link)=item.itm
    div.header-content
        div.image
            img(src="files/img/camb.png" alt="Cambogia" title="Cambbogia")
        div.right-block
            p.header-text.
                increase your<br>
                engergy level with
            span garcinia cambogia
            div.form
                h2 try it today
                form#form1
                    input(type="hidden" name="project-name" value="Produce")
                    input(type="hidden" name="admin-email" value="dimon24panasenko@gmail.com")
                    input(type="hidden" name="form_subject" value="Buy medication")

                    input(type="text" name="Name" placeholder="Your Name")
                    input(type="text" name="E-mail" placeholder="Your Email")
                    input(type="submit" value="order now")



      




