script(src="https://use.fontawesome.com/72a7049f8a.js")
script(src="js/wow.min.js")
script(src="js/jquery-1.11.2.min.js")
script(type="text/javascript" src="/js/skrollr.js")
script.
    var s = skrollr.init();
script(src="js/main.js")

