.products
    h2 about garcinia cambogia
    div.ptoducts-information
        p.
            Reduce food intake and promote <span>weight loss fast!</>
        p.
            Effective thermogenic supplements are those that contain key ingredients that create a fat burning 'thermogenic'<br>
            environment by working together and in synergy. Some of these ingredients also aid<br>
            in reducing appetite and spiking an increase in short-term energy. Dosage of Garcinia cambogia, beginning<br>
            from 750 mg to 1,500 mg, takes 2-3 times in individual dose before meals.
        h3.
            other <span>related</span> products
    div.type-products

        div.block
            div.caption
                i(class="fa fa-search" aria-hidden="true")
        div.block
            div.caption
                i(class="fa fa-search" aria-hidden="true")
        div.block
            div.caption
                i(class="fa fa-search" aria-hidden="true")


