.section-3
    .title
        p.
            what are<br>
            the benefits
        p.
            Obesity is an imbalance between fat intake and energy expenditure.<br>
            Now day obesity is a problem of health and mind in many people.
    .text-information
        p.
            The rush hours working lifestyle make many people take junk food and fast food more than nutritionists.<br>
            The important factor is Generic, it is found that one obese patient has a 40% chance of obesity and both<br>
            obese patients have 80% chance of obesity. The chronic diseases that are developed from obesity are<br>
            diabetes, high blood pressure, stroke, heart attack, cancer, gout and sleep apnea. So control the weight<br>
            is the best way to void health problem.
        p.
            Control the body weight helps you against the chronic diseases and make good looking. There are many<br>
            ways to reduce and control the weight. Using weight control products is not the best way, especially use<br>
            potential dangerous diet products without consult from the doctors or the pharmacists. Balance the energy<br>
             expenditure and fat intake is an important point. If you eat more you have to exercise more. Other ways<br>
            are break bad habits such as alcohol intake, watching T.V. during eating, or ignore vegetables. You have<br>
            to realize how much the fat in each menu and should the low cholesterol with high nutrition.
        h5.
            Here are the Beneftis You can get from <span>Garcinia Combogia:</span>
        .check-block
            .left-check-block
                ul
                    li Increases energy levels
                    li Powerful insulin potentiator
                    li  Balances blood sugar levels
                    li  Transports blood sugar into the cells
                    li  Aids in controlling carbohydrate cravings
            .right-check-block
                ul
                    li  Raises the body's metabolic rate
                    li  A highly effective calorie and fat burner
                    li  Helps to burn fat
                    li  Does not affect the central nervous system
                    li  Increases energy levels

